* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

html {
    font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main {
    width: clamp(320px, 100vw, 1536px);
    height: clamp(600px, 100vh, 1200px);
    display: flex;
    flex-direction: column;
    margin-inline: auto;
}

button{
    border: none;
}
.btn {
    padding: var(--padding-sm) var(--padding-md);
    border-radius: var(--border-radius-md);
    background: var(--bg-active-color);
    cursor: pointer;
    color: var(--text-active-color);
    font-size: var(--font-size-md);
}

#reset-btn {
    background-color: var(--bg-danger-color);
    color: var(--text-primary-color);
}

#download-btn {
    background-color: var(--bg-success-color);
    color: var(--text-primary-color);
}

i {
    font-size: 8vh;
    opacity: 0.6;
}



main nav {
    padding-inline: var(--padding-lg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;
    background: rgb(26, 36, 44);
    position: relative;

}

main nav .nav-right {
    display: flex;
    gap: var(--gutter-md);
    font-size: var(--font-size-md);

}

#dropdown {
    display: none;
    font-size: var(--font-size-lg);
}

#dropdownBox{
    position: absolute;
    right: var(--padding-sm);
    top: 6vh;
    display: flex;
    flex-direction: column;
    opacity: 9;
    display: none;

}

#dropdownBox .option{
    padding: var(--padding-sm);
    font-size: var(--font-size-sm2);
    background: var(--bg-primary-color);
}





main section {
    flex-grow: 1;
    padding: var(--padding-md) var(--padding-lg);
    display: flex;
    gap: var(--gutter-lg);
    height: 92vh;
    width: 100%;
}

main section .left {
    width: 100%;
    align-items: center;
    background: var(--bg-secondary-color)
}

main section .left .placeholder {
    height: 100%;
    width: 100%;
    background-color: var(--bg-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
}


main section .right {
    width: 40%;
    height: 100%;
    background-color: var(--bg-filters-color);
    padding: var(--padding-md);
    overflow: hidden;

}

main section .right .rig-scroll-Cont {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.right h2 {
    font-weight: 600;
}

.right .filters {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
    margin-block: var(--padding-lg);
}

.right .filter {
    width: 96%;
}


.rig-scroll-Cont::-webkit-scrollbar {
    width: 6px;
}

.rig-scroll-Cont::-webkit-scrollbar-track {
    background: transparent;
}

.rig-scroll-Cont::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.rig-scroll-Cont::-webkit-scrollbar-thumb:hover {
    background: var(--bg-active-color);
}


.right .filter input {
    width: 100%;
    appearance: none;
    height: 3px;
    background-color: var(--bg-active-color);
    cursor: pointer;
}

.right .filter input::-webkit-slider-thumb {
    appearance: none;
    /* override def property */
    height: 0.7rem;
    width: 0.7rem;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}

.presets {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter-sm);
    margin-block: var(--padding-lg);
}



#imgCanvas {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: none;
    aspect-ratio: 1/1;
}



@media (max-width : 530px) {

    main nav {
        padding-inline: var(--padding-sm);
    }

    nav h2{
        font-weight: 500;
    }
    main nav .nav-right {
        display: none;
    }

    main section {
        flex-direction: column;
        gap: var(--gutter-sm);
        padding: var(--gutter-md);
    }

    main section .right {
        width: 100%;
    }

    main section .left {
        aspect-ratio: 1 /1;
    }


    #dropdown {
        display: block;
    }
}