:root{
    --bg-primary-color: #111 ;
    --bg-secondary-color: rgb(54, 53, 53) ;
    --bg-filters-color: rgb(53, 53, 53) ;
    --bg-active-color: rgb(238, 234, 234) ;
    --bg-danger-color: rgb(231, 32, 32) ;
    --bg-success-color: rgb(6, 210, 53) ;


    --text-primary-color : rgb(222, 220, 220);
    --text-secondary-color: rgb(200 , 200 , 200);
    --text-tertiary-color: rgb(171, 157, 157);
    --text-active-color: rgb(24 ,24, 24);
    

    --padding-sm: 0.5rem;
    --padding-md: 1rem ;
    --padding-lg: 1.5rem;
    --padding-xl: 2rem;
    --padding-2xl: 3rem ;


    --margin-sm: 0.5rem;
    --margin-md: 1rem ;
    --margin-lg: 1.5rem;
    --margin-xl: 2rem;
    --margin-2xl: 3rem;


    /* gutter - grid / flex spacing  */
    --gutter-sm: 0.5rem;
    --gutter-md: 1rem ;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-2xl: 3rem;


    --font-size-sm: 0.5rem;
    --font-size-sm2 : 0.9rem ;
    --font-size-md: 1rem ;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-2xl: 3rem ;


    --border-radius-sm: 0.2em;
    --border-radius-md: 0.25rem ;
    --border-radius-lg: 0.3rem;
    --border-radius-xl: 0.4rem;
    --border-radius-2xl: 0.5rem ;



}